@model MVCCourseApplication.Models.Course
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    <div class="col-md-8">
        @Html.DisplayNameFor(model => model.CourseName)
        <div class="form-group">
            @Html.TextBox("CourseName")
            @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="col-md-8">
        @Html.DisplayNameFor(model => model.Duration)
        <div class="form-group">
            @Html.TextBox("Duration")
            @Html.ValidationMessageFor(model => Model.Duration, "", new { @class = "text-danger" })
        </div>
     </div>

    <div class="col-md-8">
         @Html.DisplayNameFor(model => model.Remarks)
            <div class="form-group">
                @Html.TextBox("Remarks")
                @Html.ValidationMessageFor(model => Model.Remarks, "", new { @class = "text-danger" })
            </div>

            <input type="Submit" value="Save" />
     </div>

}


